body {
    background: #ddd;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

section {
    width: 100%;
    margin: 0;
}

.results {
    width: 200px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
}

button {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    display: block;
    margin: 0 auto 15px auto;
    font-weight: bold;
}

table {
    border: 1px solid black;
    background: #fff;
    width: 210px;
}


/*LAYOUTS*/
.game {grid-area: game;}
.explain {grid-area: explain;}
.results {grid-area: result;}
h1 {grid-area: title;}

body {
    display: grid;
    grid-template-areas: 
        'title title title title'
        'game game game explain'
        'game game game result'
        'game game game result'
        'game game game result';
    grid-gap: 5px;
    padding: 5px;
}

canvas {
    /* border: 1px black solid; */
    display: block;
    margin: 0 auto;
    padding: 0;
    background: white;
    border-radius: 5px;
}