---
---

@import "minima";

header {
    padding-top: 1.5rem;
    padding-bottom: .5em;
}

.site-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.site-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 auto;
}

.site-nav {
  flex: 0 0 auto;
  margin-left: auto;
}

.site-title {
  display: block !important;
  line-height: 1.2;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 2em;
}

.site-subtitle {
  font-size: 1em;
  color: #666;
  margin: 0 !important;
  margin-top: 2px !important;
  font-weight: 300;
  line-height: 1.2;
  display: block;
}