/* debug css */
header, footer, main, #menu {
    border-bottom: 1px solid black;
}

body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header, footer, #menu {
    display: block;
    margin: 0 auto;
}

/* set up grid*/
#wrapper{
    display: grid;
}

header { grid-area: header;}
main { grid-area: main;}
#menu { grid-area: menu;}
footer { grid-area: footer;}

@supports (grid-area: auto) {   
    @media screen and (min-width:  60em) {
        #wrapper {
            grid-template-areas:
                'header header header header header'
                'menu main main main main'
                'footer footer footer footer footer';
            grid-gap: 5px;
        }        

        header, footer, main, #menu {
            border: none;
        }

        #menu {
            border-right: 1px solid black;
            padding-right: 10px;
        }
    }
}